@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-pt-sans: 'PT Sans', sans-serif;
}

@theme {
  --color-dark: #1a1a1a;
  --color-primary: #a30b35;
  --color-light: #f3f4f6;
  --color-gray: #aaa9a9;
  --color-secondary: #f2f2f2;
  --color-secondary-1: #f0f1f2;
  --color-accent: #e9ebef;
  --color-muted: #717182;
  --color-approved: oklch(0.982 0.018 155.826);
  --color-approved-1: oklch(0.925 0.084 155.995);
  --color-pending: oklch(0.987 0.026 102.212);
  --color-pending-1: oklch(0.945 0.129 101.54);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pt-sans), sans-serif;
}
